.nav-item{
  text-align: center;
}

.navbar-nav >li > a.active{
  border-bottom: #ffffff solid 1px;
}

.nav-pills > li > a:hover {
  color: gray !important;
}

.nav-link-color {
  color: #ffffff;
}
.navbar-brand:hover{
  border-top: solid white 1px ;
}

nav{
  /* background-color: teal; */
  background-color: black;
}
