
<div class="container">
  <div class="row">
    <h1> Here's a little about <span style="color :teal "> me</span>!!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class=" card">
        <div class="card-body">
          <h3 class="card-title">
            I am Sriram Vasan, An analyst working remotely for <a href="https://www.latentview.com/" target="_blank" style="color:inherit;"> <span style="inherits:inherit;"> LatentView Analytics</span></a> as an analyst in sunny Chennai , India.

          </h3>
          <p class="card-text">
            My ability to create a fun environment is unparalleled...
          </p>
        </div>

      </div>

    </div>

    <div class="col-md-6">
      <div style="justify-content: center;">
        <img src="assets/sriramvasansmall.png" class="card-img-top" alt="Sriram Vasan's head was too large to load" style="color:white; font-size:1.5rem;">
      </div>
    </div>

    </div>
</div>
