<section id="experience">
<div class="container" style="padding:20vh 0 0 0;" >
  <div class="h4 text-center mb-4 title">Work Experience</div>
  <div class="row">
    <div class="main-timeline">

      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">Oct20-Jul21</span>
                <span class="year">10 Months</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Dhvani Research and Development</h5>
            <div class="subtitle">Technical Engineer</div>
            <p class="description" align="justify">
              Created a data visualization application for live data acquisition from a Ultra Sound sensor and DAQ. Resolved hardware and software compatibility and interface design issues. Integrated and implemented features using SDKs for various hardware DAQs and sensors.
            </p>
        </div>
      </div>


      <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                        <span class="month">Aug21-Jan23</span>
                <span class="year"> 17 Months </span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">LatentView Analytics</h5>
            <div class="subtitle">Analyst</div>
            <p class="description" align="justify">
              Played a crucial part in migrating legacy applications from VBA to office JavaScript API. Contributed in maintaining an incident analysis dashboard on a daily basis using tableau.Developed new tools and features using API for DNA (Data 'n' Analytics) applications for Apple Inc operations team &amp; supply demand planners.
              Worked on marketing analytics with autodesk on creating sales and marketing metric visualisations using powerBI and snowflake data for different quarters and yearly changes.
            </p>
        </div>
    </div>


    </div>

  </div>
</div>
</section>
