<section id="skills">
  <div class="container" style="padding: 20vh 0 0 0;">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="card">
      <div class="card-body">
<!-- row1 -->
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container">
              <span class="progress-badge">Python</span>
              <div class="progress">
                <div class="progress-bar " role="progressbar" style="width: 85%;">
                  <span class="progress-value"></span>85%
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="progress-container ">
              <span class="progress-badge">JavaScript</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%; ">
                  <span class="progress-value"></span>85%
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- row2 -->
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container">
              <span class="progress-badge">Tableau</span>
              <div class="progress">
                <div class="progress-bar " role="progressbar" style="width: 90%;">
                  <span class="progress-value"></span>90%
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="progress-container ">
              <span class="progress-badge">Power BI</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;">
                  <span class="progress-value"></span>80%
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- row3 -->

        <div class="row">
          <div class="col-md-6">
            <div class="progress-container">
              <span class="progress-badge">.NET Framework</span>
              <div class="progress">
                <div class="progress-bar " role="progressbar" style="width: 70%;">
                  <span class="progress-value"></span>70%
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="progress-container ">
              <span class="progress-badge">Angular</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;">
                  <span class="progress-value"></span>90%
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- row4 -->

        <div class="row">
          <div class="col-md-6">
            <div class="progress-container">
              <span class="progress-badge">Statistical Analysis</span>
              <div class="progress">
                <div class="progress-bar " role="progressbar" style="width: 80%;">
                  <span class="progress-value"></span>80%
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="progress-container ">
              <span class="progress-badge">Data Mining</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;">
                  <span class="progress-value"></span>75%
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
