<div class="content-wrap" id="home">

    <img class="content-bg" src=" assets/cover.jpeg"/>

    <div class="row content-body justify-content-center" style="padding: 12vh;">
        <div class="typing-demo d-none d-md-block">
          Hey, I am Sriram Vasan glad you're here!!</div>
         <div class="container" >
            <div class="content-center">
              <div class="profile-image">
                <a href="#">
                  <img src="assets/Sriram2.jpg" style="object-fit: cover;" alt="image">
                </a>
              </div>

              <a class="links smooth-scroll" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
              <a class="links" href="https://drive.google.com/file/d/1h74L0lXTp3kaeOIxxxhlv4OEUR0Ld0hz/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>

            </div>
          </div>

        </div>
     <div class="row social">
      <div class="container">
          <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/sriramq" target="_blank" rel="tooltip" title="Follow me on Facebook">
                  <i class="fa fa-facebook"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/_sriram_vasan/" target="_blank" rel="tooltip" title="Follow me on Instagram">
                  <i class="fa fa-instagram"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/sriram-vasan-69b41b88/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                  <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/sriramvasan" target="_blank" rel="tooltip" title="Follow me on Github">
                  <i class="fa fa-github"></i>
              </a>
          </div>
      </div>
  </div>

</div>
