<div class="container">
  <div class="row justify-content-center" style="margin: 1rem;">
    <div class="typing-demo d-none  d-sm-block">
      Hey, I am Sriram Vasan Glad you're here!!
    </div>
    <div class="d-block d-sm-none" style="text-align-last: center; text-justify:auto; font-family:'Courier New', Courier, monospace;;
    font-size: 1.5em;
    font-weight: bold;">
        Hey, I am Sriram Vasan Glad you're here!!
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <hr>
    <section>

    </section>
  </div>
</div>
